.current {
    color: white;
}
//全局样式
.zhuye {
    background-color: rgb(51, 49, 49);
    color: white;
}
//导航栏的样式
.navi1 {
    a {
        display: block;
        color: rgb(175, 159, 96);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
    }
    a:hover {
        background-color: rgb(107, 102, 79);
    }
}
//对于home页面的样式配置
.content {
    background-color: rgb(51, 49, 49);
    color: white;
}

#div1,
#div2,
#div3 {
    width: 50%;
    height: 300px;
    border: 1px solid #ccc;
    float: left;
    box-sizing: border-box;
    text-decoration: none;
}
//按钮的样式
.button1 {
    text-align: center;
    background-color: rgb(51, 49, 49);
    margin: auto;
    width: 100%;
    border: 3px solid rgb(175, 159, 96);
    padding: 10px;
}
//居中对齐
//博客的宽度为650px
//相对定位(350,0)的元素
.center {
    width: 650px;
    position: absolute;
    left: 350px;
    top: 50px;
    margin-left: -100px;
    background-color: rgb(51, 49, 49);
    vertical-align: middle;
}
code {
    font-size: 12px;
    font-family: Consolas, monospace, serif;
    color: #dd0055;
    padding: 1 4px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background: #fafafa;
}

.blog {
    h2 {
        font-family: serif;
        color: #1b1c1d;
        margin: 1rem 0;
    }
}

.video {
    width: 400px;
    position: relative;
    left: 110px;
    top: 0px;
    margin-left: -100px;
    background-color: rgb(51, 49, 49);
    vertical-align: middle;
}