---
layout: default
---
<head>
    <script src="/assets/js/meue.js"></script>
</head>

<body>
  <table align="left" width="220" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td height="50" align="left" valign="top">
              <!-- 控制面板菜单 -->
              <table width="205" border="0" cellspacing="0" cellpadding="0" class="ctrl_menu">
                  <tr height="5">
                      <td></td>
                  </tr>
                  <tr>
                      <td align="center">
                          <!-- BLOG文章 -->
                          <table width="195" border="0" cellspacing="0" cellpadding="0" class="ctrl_menu_title_bg">
                              <tr class="hand" onClick="hide('hideMenuFunc3')">
                                  <td width="174" class="ctrl_menu_title">BLOG文章管理</td>
                                  <td width="21">
                                  </td>
                              </tr>
                              <tr id="hideMenuFunc3">
                                  <td align="left" colspan="2" class="menu_box_pad">
                                      <table width="100%" border="0" cellspacing="5" cellpadding="0" class="menu_box">
                                          <tr>
                                              <th> </th>
                                              <td><a href="#" target="mainFrame"
                                                      onClick="scroll_to_top()">发表BLOG文章</a></td>
                                          </tr>
                                          <tr>
                                              <th> </th>
                                              <td><a href="#" target="mainFrame"
                                                      onClick="scroll_to_top()">BLOG文章管理</a></td>
                                          </tr>
                                          <tr>
                                              <th> </th>
                                              <td><a href="#" target="mainFrame"
                                                      onClick="scroll_to_top()">BLOG评论管理</a></td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                          <!-- /BLOG文章 -->
                      </td>
                  </tr>
                  <tr height="5">
                      <td></td>
                  </tr>
                  <tr>
                      <td align="center">
                          <!-- BLOG信息 -->
                          <table width="195" border="0" cellspacing="0" cellpadding="0" class="ctrl_menu_title_bg">
                              <tr class="hand" onClick="hide('hideMenuFunc2')">
                                  <td width="174" class="ctrl_menu_title">BLOG信息设置</td>
                                  <td width="21">
                                  </td>
                              </tr>
                              <tr id="hideMenuFunc2">
                                  <td align="left" colspan="2" class="menu_box_pad">
                                      <table width="100%" border="0" cellspacing="5" cellpadding="0" class="menu_box">
                                          <tr>
                                              <th> </th>
                                              <td><a href="#" target="mainFrame" onClick="scroll_to_top()">更改基本信息</a>
                                              </td>
                                          </tr>
                                          <tr>
                                              <th> </th>
                                              <td><a href="#" target="mainFrame" onClick="scroll_to_top()">定制我的模板</a>
                                              </td>
                                          </tr>
                                          <tr>
                                              <th> </th>
                                              <td><a href="#" target="mainFrame" onClick="scroll_to_top()">首页内容维护</a>
                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                          <!-- /BLOG信息 -->
                      </td>
                  </tr>
                  <tr height="5">
                      <td></td>
                  </tr>
                  <tr>
                      <td align="center">
                          <!-- 个人信息 -->
                          <table width="195" border="0" cellspacing="0" cellpadding="0" class="ctrl_menu_title_bg">
                              <tr class="hand" onClick="hide('hideMenuFunc1')">
                                  <td width="174" class="ctrl_menu_title">个人信息设置</td>
                                  <td width="21">
                                  </td>
                              </tr>
                              <tr id="hideMenuFunc1" style="display:none">
                                  <td align="left" colspan="2" class="menu_box_pad">
                                      <table width="100%" border="0" cellspacing="5" cellpadding="0" class="menu_box">
                                          <tr>
                                              <th> </th>
                                              <td><a target="mainFrame" href="#" onClick="scroll_to_top()">更改基本资料</a>
                                              </td>
                                          </tr>
                                          <tr>
                                              <th> </th>
                                              <td><a target="mainFrame" href="#" onClick="scroll_to_top()">登录默认选项</a>
                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                          <!-- /个人信息 -->
                      </td>
                  </tr>
                  <tr height="5">
                      <td></td>
                  </tr>
              </table>
</body>
<div class="center">
  <h1>{{ page.title }}</h1>

  <p>
      {{ page.date | date_to_string }}
      {% assign author = site.authors | where: 'short_name', page.author | first %}
      {% if author %}
      - <a href="{{ author.url }}">{{ author.name }}</a>
      {% endif %}
  </p>

  <div>{{ content }}</div>
</div>